#rates form {
	margin: 50px 0;
}

#calculator .amount {
	margin: 15px 0;
}
#calculator #fromFurrency {
	margin-right: 30px;
}
#calculator #result {
	font-size: 2em;
	height: 50px;
}

#graph .btn {
	margin-top: 20px;
}